---
http_interactions:
- request:
    method: get
    uri: https://api-fxtrade.oanda.com/v1/instruments?accountId=554776
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"60999bb9a7e9ea92f4942e619e00b1b6e4e833ef"'
    body:
      encoding: UTF-8
      string: "{\n\t\"instruments\" : [\n\t\t{\n\t\t\t\"instrument\" : \"AU200_AUD\",\n\t\t\t\"displayName\"
        : \"Australia 200\",\n\t\t\t\"pip\" : \"0.1\",\n\t\t\t\"maxTradeUnits\" :
        200\n\t\t},\n\t\t{\n\t\t\t\"instrument\" : \"AUD_CAD\",\n\t\t\t\"displayName\"
        : \"AUD\\/CAD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"maxTradeUnits\" : 10000000\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"AUD_CHF\",\n\t\t\t\"displayName\" : \"AUD\\/CHF\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"maxTradeUnits\"
        : 10000000\n\t\t},\n\t\t{\n\t\t\t\"instrument\" : \"AUD_HKD\",\n\t\t\t\"displayName\"
        : \"AUD\\/HKD\",\n\t\t\t\"pip\" : \"0.0001\",\n\t\t\t\"maxTradeUni[...]
- request:
    method: get
    uri: https://api-fxtrade.oanda.com/v1/prices?instruments=AU200_AUD,AUD_CAD,AUD_CHF,AUD_HKD,AUD_JPY,AUD_NZD,AUD_SGD,AUD_USD,BCO_USD,CAD_CHF,CAD_HKD,CAD_JPY,CAD_SGD,CH20_CHF,CHF_HKD,CHF_JPY,CHF_ZAR,CORN_USD,DE10YB_EUR,DE30_EUR,EU50_EUR,EUR_AUD,EUR_CAD,EUR_CHF,EUR_CZK,EUR_DKK,EUR_GBP,EUR_HKD,EUR_HUF,EUR_JPY,EUR_NOK,EUR_NZD,EUR_PLN,EUR_SEK,EUR_SGD,EUR_TRY,EUR_USD,EUR_ZAR,FR40_EUR,GBP_AUD,GBP_CAD,GBP_CHF,GBP_HKD,GBP_JPY,GBP_NZD,GBP_PLN,GBP_SGD,GBP_USD,GBP_ZAR,HK33_HKD,HKD_JPY,JP225_USD,NAS100_USD,NATGAS_USD,NL25_EUR,NZD_CAD,NZD_CHF,NZD_HKD,NZD_JPY,NZD_SGD,NZD_USD,SG30_SGD,SGD_CHF,SGD_HKD,SGD_JPY,SOYBN_USD,SPX500_USD,SUGAR_USD,TRY_JPY,UK100_GBP,UK10YB_GBP,US2000_USD,US30_USD,USB02Y_USD,USB05Y_USD,USB10Y_USD,USB30Y_USD,USD_CAD,USD_CHF,USD_CNH,USD_CNY,USD_CZK,USD_DKK,USD_HKD,USD_HUF,USD_INR,USD_JPY,USD_MXN,USD_NOK,USD_PLN,USD_SAR,USD_SEK,USD_SGD,USD_THB,USD_TRY,USD_TWD,USD_ZAR,WHEAT_USD,WTICO_USD,XAG_AUD,XAG_CAD,XAG_CHF,XAG_EUR,XAG_GBP,XAG_HKD,XAG_JPY,XAG_NZD,XAG_SGD,XAG_USD,XAU_AUD,XAU_CAD,XAU_CHF,XAU_EUR,XAU_GBP,XAU_HKD,XAU_JPY,XAU_NZD,XAU_SGD,XAU_USD,XAU_XAG,XCU_USD,ZAR_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6e6c41f1286638573c5ee865c512aaa2f962bdd5"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"AU200_AUD\",\n\t\t\t\"time\"
        : \"2014-08-01T20:59:00.196462Z\",\n\t\t\t\"bid\" : 5495.2,\n\t\t\t\"ask\"
        : 5499.2,\n\t\t\t\"status\" : \"halted\"\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"AUD_CAD\",\n\t\t\t\"time\" : \"2014-08-01T20:59:58.186771Z\",\n\t\t\t\"bid\"
        : 1.016,\n\t\t\t\"ask\" : 1.01719,\n\t\t\t\"status\" : \"halted\"\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"AUD_CHF\",\n\t\t\t\"time\" : \"2014-08-01T20:59:58.186848Z\",\n\t\t\t\"bid\"
        : 0.8424,\n\t\t\t\"ask\" : 0.84458,\n\t\t\t\"status\" : \"halted\"\n\t\t},\n\t\t{\n\t\t\t\"instrument\"
        : \"AUD_HKD\",[...]
